.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920___1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920___1 {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 1918px;
	height: 3694px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
#NKOSONGE_EWANE {
	position: absolute;
	left: 98px;
	top: 59px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Home {
	position: absolute;
	left: 842px;
	top: 64px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#About {
	position: absolute;
	left: 991px;
	top: 64px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Skills {
	position: absolute;
	left: 1103px;
	top: 64px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Experiences {
	position: absolute;
	left: 1241px;
	top: 64px;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#ABOUT_ME {
	position: absolute;
	left: 81px;
	top: 962px;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 299px;
	height: 73px;
	left: 1511px;
	top: 28px;
}
#DOWNLOAD_CV {
	position: absolute;
	left: 1570px;
	top: 48px;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 156px;
	height: 1px;
	left: 92.5px;
	top: 1209.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Hello__I_am {
	position: absolute;
	left: 76px;
	top: 352px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Nkosonge_Ewane {
	position: absolute;
	left: 76px;
	top: 378px;
	overflow: visible;
	width: 484px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(251,3,3,1);
}
#web_developer {
	position: absolute;
	left: 76px;
	top: 444px;
	overflow: visible;
	width: 278px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#ID2_years_of_experiences__work {
	position: absolute;
	left: 76px;
	top: 497px;
	overflow: visible;
	width: 654px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Nkosonge_Ewane_t {
	position: absolute;
	left: 59px;
	top: 1071px;
	overflow: visible;
	width: 484px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(251,3,3,1);
}
#web_developer_u {
	position: absolute;
	left: 59px;
	top: 1137px;
	overflow: visible;
	width: 278px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#ID2_years_of_experiences__work_v {
	position: absolute;
	left: 59px;
	top: 1190px;
	overflow: visible;
	width: 654px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 297px;
	height: 70px;
	left: 76px;
	top: 611px;
}
#Learn_more {
	position: absolute;
	left: 137px;
	top: 627px;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#WIN_20200414_13_20_29_Pro {
	position: absolute;
	width: 960px;
	height: 540px;
	left: 933px;
	top: 976px;
	overflow: visible;
}
#IMG_20191201_WA0038 {
	position: absolute;
	width: 384px;
	height: 512px;
	left: 1293px;
	top: 153px;
	overflow: visible;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 172px;
	height: 5px;
	left: 76.5px;
	top: 1029.5px;
	transform: matrix(1,0,0,1,0,0);
}
#SKILLS {
	position: absolute;
	left: 56px;
	top: 1710px;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 111.5px;
	height: 5px;
	left: 59px;
	top: 1776.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Full_web_developer_and_web_des {
	position: absolute;
	left: 59px;
	top: 1791px;
	overflow: visible;
	width: 531px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Experiences_ {
	position: absolute;
	left: 74px;
	top: 2608px;
	overflow: visible;
	width: 275px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 53px;
	color: rgba(255,255,255,1);
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 137px;
	height: 5px;
	left: 74.5px;
	top: 2678.5px;
	transform: matrix(1,0,0,1,0,0);
}
#ID2_years_of_experiences__work_ {
	position: absolute;
	left: 75px;
	top: 2693px;
	overflow: visible;
	width: 654px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}


